.topNavBarPurple {
  width: 80%;
  height: 70pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25pt;
  margin-right: 10pt;
  border-radius: 10pt;
  margin-top: 10pt;
  padding: 10pt;
  background-color: #43285c;
}
.topBarContainerPurple {
  display: flex;
  margin-top: 1rem;
}
.userBoxPurple {
  width: 15%;
  height: 70pt;
  background-color: #43285c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10pt;
  margin-top: 10pt;
  margin-right: 1.8rem;
  margin-left: 2.9rem;
}
.whishlistPurple {
  font-size: 22pt;
  color: #b182dc;
  cursor: default;
}
.badgePurple {
  margin-left: 10pt;
  margin-top: 17pt;
  background-color: #b182dc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2pt;
  padding: 1pt;
  color: #43285c;
  cursor: default;
}
.navLinksPurple {
  color: #b182dc;
}
.navLinksPurple:hover {
  color: #9b74c1;
}
.logoutPurple {
  color: #8b759f;
}
.logoutPurple:hover {
  color: #796988;
}
.profileImagePurple {
  width: 45pt;
  height: 45pt;
  border: 2pt solid #b182dc;
  border-radius: 8pt;
  object-fit: fill;
  margin-right: 5pt;
  margin-left: 0.8rem;
  cursor: pointer;
}
.profileBoxContinerPurple {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconListPurple {
  height: 15rem;
  width: 15rem;
  top: 8rem;
  right: 5rem;
  background-color: #43285c;
  position: absolute;
  z-index: 2;
  border-radius: 8pt;
  border: 2pt solid #b182dc;
}
.iconsPurple {
  margin: 0.5rem;
  border-color: #b182dc;
  transition: 0.2s;
}

.iconsPurple:hover {
  transform: scale(1.1);
}

.inputImageClickBoxPurple {
  width: 4.7rem;
}
