.buttonLight {
  color: black;
  width: 12rem;
  display: block;
  padding-top: 0.15rem;
  margin-left: 0.28rem;
  margin-top: 1.1rem;
}
.buttonLight:hover {
  text-decoration: none;
  color: #ffff;
}
.moviesTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
